<h1>Your Account</h1>

<ul>
  <li>User ID: <%= logged_in.id %>
  <li>Name: <%= logged_in.name %> [<a href="/user/edit">change</a>]
  <li>Email: <%= current_user.email %> [<a href="/user/change_email">change</a>]
  <li>Password: ******** [<a href="/user/change_password">change</a>]
</ul>
<p>
  <a href="/user/logout">Log out</a>
  <a href="/user/delete" onclick="return confirm('Are you sure?')">Delete your account</a>
</p>
