<h1>Forgot Your Password?</h1>

<p>Tell us your email address to have a new password sent to you.</p>

<form class="reg" id="forgot_password" action="/user/forgot_password" method="post">

  <% if @user && @user.errors.any? %>
    <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
	  <% end %>
	</ul>
  <% end %>

  <label for="user_email">Enter Your Email Address</label><br/>
  <input type="text" name="user[email]" size="20" value="<%= h(@user.email) %>" /><br />
  <br />


  <input type="submit" value="Email a New Password" />
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token%>" />

</form>
